@using BTB.Domain.Common.Pagination
@using BTB.Client.Pages.Vms
@using BTB.Domain.Common.Indicator
@using System.Net;
@using BTB.Domain.Extensions
@using BTB.Client.Pages.Dto.Indicator
@using Newtonsoft.Json;
@using System.Text
@using System.Linq
@inject IJSRuntime jsRuntime
@inject HttpClient Http

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="Quantity group">
        <a href="#" role="button" class="btn btn-success btn-xs" id="label-btn" aria-disabled="true">Indicators</a>
        @foreach (var value in Enum<IndicatorType>.GetValues())
        {
            <button class="btn btn-primary" type="button" @onclick="@( () => { _indicatorType = value; })">@(value)</button>
        }
    </div>
    @if (IndicatorType.RSI == _indicatorType)
    {
        <div class="btn-group" role="group" aria-label="Quantity group">
            <a href="#" role="button" class="btn btn-success btn-xs" id="label-btn" aria-disabled="true">RSI timeframe</a>
            @foreach (var value in Enum<RSITimeframe>.GetValues())
            {
                @if (_priceHistory.Count() >= (int)_paginationQuantity + (int)value + 1)
                {
                    <button class="btn btn-primary" type="button" @onclick="@( async () => { _rsiTimeframe = value; await RefreshIndicatorView(); } )">@((int)value)</button>
                }
                else
                {
                    <a href="#" role="button" class="btn btn-secondary btn-xs" id="label-btn" aria-disabled="true">@((int)value)</a>
                }
            }
        </div>
    }
    else if (IndicatorType.SMA == _indicatorType)
    {
        <div class="btn-group" role="group" aria-label="Quantity group">
            <a href="#" role="button" class="btn btn-success btn-xs" id="label-btn" aria-disabled="true">SMA kline price</a>
            @foreach (var value in Enum<SMAPriceType>.GetValues())
            {
                <button class="btn btn-primary" type="button" @onclick="@( async () => { _smaPriceType = value; await RefreshIndicatorView(); } )">@(value)</button>
            }
        </div>
    }
</div>

<br />

@if (_requestFailed == false)
{
    @if (_indicatorType == IndicatorType.RSI)
    {
        @if (_priceHistory.Count() >= (int)_paginationQuantity + (int)_rsiTimeframe + 1)
        {
            <div id="candlestick_chart_div"></div>
            <div id="rsi_chart_div"></div>
        }
        else
        {
            <p>Could not display chart as there are not enough klines.</p>
        }
    }
    else if (_indicatorType == IndicatorType.SMA)
    {
        @if (_priceHistory.Count() >= (int)_paginationQuantity + (int)_smaTimePeriod)
        {
            <div id="sma_chart_div"></div>
        }
        else
        {
            <p>Could not display chart as there are not enough klines.</p>
        }
    }
}
else
{
    <p><em>Error...</em></p>
}



@code {

    [CascadingParameter(Name = "PriceHistory")]
    private IEnumerable<KlineVO> _priceHistory { get; set; }

    [CascadingParameter(Name = "PaginationQuantity")]
    private PaginationQuantity _paginationQuantity { get; set; }

    private IndicatorType _indicatorType = IndicatorType.RSI;
    private RSITimeframe _rsiTimeframe = RSITimeframe.Two;
    private SMAPriceType _smaPriceType = SMAPriceType.High;

    private List<decimal> _indicatorValues = new List<decimal>();

    private int _smaTimePeriod = 10;

    private bool _requestFailed = false;

    private const string RSITImeframeLabel = "Timeframe:";
    private const int RSIOverboughtTreshold = 70;
    private const int RSIOversoldTreshold = 30;

    private readonly Dictionary<IndicatorType, string> IndicatorDictionary = new Dictionary<IndicatorType, string>()
{
        { IndicatorType.RSI, "RSI" },
        { IndicatorType.SMA, "SMA" }
    };

    private bool IsRSIAvailableForGivenTimeframe()
    {
        return _priceHistory.Count() >= (int)_paginationQuantity + (int)_rsiTimeframe + 1;
    }

    private bool IsSMAAvailableForGivenTimePeriod()
    {
        return _priceHistory.Count() >= (int)_paginationQuantity + (int)_smaTimePeriod;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await RefreshIndicatorView();
    }

    private async Task RefreshIndicatorView()
    {
        if (_priceHistory != null)
        {
            if (_indicatorType == IndicatorType.RSI && IsRSIAvailableForGivenTimeframe() == false)
                return;
            if (_indicatorType == IndicatorType.SMA && IsSMAAvailableForGivenTimePeriod() == false)
                return;
            var requestMessage = PrepareRequestMessage();
            var response = await Http.SendAsync(requestMessage);
            var jsonString = await response.Content.ReadAsStringAsync();

            if (response.StatusCode == HttpStatusCode.BadRequest)
            {
                _requestFailed = true;
            }
            else
            {
                switch (_indicatorType)
                {
                    case IndicatorType.RSI:
                        _indicatorValues = JsonConvert.DeserializeObject<RSIIndicatorVm>(jsonString).RSI;
                        break;
                    case IndicatorType.SMA:
                        _indicatorValues = JsonConvert.DeserializeObject<SMAIndicatorVm>(jsonString).SMA;
                        break;
                    default: // impossible to reach
                        break;
                }

                await DrawChart();
            }
        }
    }

    private HttpRequestMessage PrepareRequestMessage()
    {
        int dataForCalculationCount;
        string json;

        switch (_indicatorType)
        {
            case IndicatorType.RSI:
                dataForCalculationCount = (int)_paginationQuantity + (int)_rsiTimeframe + 1;
                json = JsonConvert.SerializeObject(new RSIDto()
                {
                    ClosePrices = _priceHistory.Select(p => p.ClosePrice).Take(dataForCalculationCount).ToList(),
                    Timeframe = _rsiTimeframe
                });
                break;
            case IndicatorType.SMA:
                dataForCalculationCount = (int)_paginationQuantity + _smaTimePeriod - 1;
                json = JsonConvert.SerializeObject(new SMADto()
                {
                    Prices = _smaPriceType == SMAPriceType.High ? _priceHistory.Select(p => p.HighestPrice).Take(dataForCalculationCount).ToList() :
                        _smaPriceType == SMAPriceType.Low ? _priceHistory.Select(p => p.LowestPrice).Take(dataForCalculationCount).ToList() :
                        _smaPriceType == SMAPriceType.Open ? _priceHistory.Select(p => p.OpenPrice).Take(dataForCalculationCount).ToList() :
                        _priceHistory.Select(p => p.ClosePrice).Take(dataForCalculationCount).ToList(),
                    TimePeriod = _smaTimePeriod
                });
                break;
            default:
                json = ""; // impossible to reach
                break;
        }

        var requestMessage = new HttpRequestMessage()
        {
            Method = new HttpMethod("POST"),
            RequestUri = new Uri($"/api/indicator/{IndicatorDictionary[_indicatorType]}"),
            Content = new StringContent(json, Encoding.UTF8, "application/json")
        };

        return requestMessage;
    }

    private async Task DrawChart()
    {
        var candlestick = _priceHistory.Take((int)_paginationQuantity).Select(p => new {time = ((DateTimeOffset)p.CloseTime).ToUnixTimeSeconds(),
            open = p.OpenPrice, high = p.HighestPrice, low = p.LowestPrice, close = p.ClosePrice });

        var candlestickJson = JsonConvert.SerializeObject(candlestick);

        var indicator = _priceHistory.Zip(_indicatorValues, (first, second) => new
        {
            time = ((DateTimeOffset)first.CloseTime).ToUnixTimeSeconds(),
            value = second
        });
        var indicatorJson = JsonConvert.SerializeObject(indicator);

        switch(_indicatorType)
        {
            case IndicatorType.RSI:
                await jsRuntime.InvokeVoidAsync("drawRSI", "candlestick_chart_div", candlestickJson, "rsi_chart_div", indicatorJson);
                break;
            case IndicatorType.SMA:
                await jsRuntime.InvokeVoidAsync("drawSMA", "sma_chart_div", candlestickJson, indicatorJson);
                break;
            default: // impossible to reach
                break;
        }

    }

}
