@using BTB.Client.Pages.Dto
<table class="table">
    <thead>
        <tr>
            <th>Open Time</th>
            <th>Close Time</th>
            <th>Open Price</th>
            <th>Close Price</th>
            <th>Lowest Price</th>
            <th>Highest Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in _priceHistory)
        {
            <tr>
                <td>@item.OpenTime.AddHours(1).ToString("dd MMM yyyy, HH:mm:ss")</td>
                <td>@item.CloseTime.AddHours(1).ToString("dd MMM yyyy, HH:mm:ss")</td>
                <td>@item.OpenPrice</td>
                <td>@item.ClosePrice</td>
                <td>@item.LowestPrice</td>
                <td>@item.HighestPrice</td>
            </tr>
        }
    </tbody>
</table>

@code {

    [CascadingParameter]
    private IEnumerable<KlineVO> _priceHistory { get; set; }

}
