@page "/"
@using BTB.Domain.Entities
@inject HttpClient Http
@inject Blazored.Modal.Services.IModalService Modal

<h1>Dashboard</h1>

@if (_topList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
                <th>Subscribe</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _topList)
            {
                <tr>
                    <td><NavLink href="@($"/details/{@item.Symbol}")">@item.Symbol</NavLink></td>
                    <td>@Math.Round(item.LastPrice, 6)</td>
                    <td><button type="button" class="btn btn-primary" @onclick="@(()=> HandleOnSelected(@item.Symbol))">Subscribe</button></td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private IEnumerable<BinanceSymbolPrice> _topList { get; set; }

    private void HandleOnSelected(string symbol)
    {
        var parameters = new ModalParameters();
        var options = new ModalOptions()
        {
            HideCloseButton = true,
            HideHeader = true

        };

        parameters.Add("Symbol", symbol);
        Modal.Show<AlertSubscription>("Subscribtion", parameters, options);

    }

    protected override async Task OnInitializedAsync()
    {
        _topList = await Http.GetJsonAsync<IEnumerable<BinanceSymbolPrice>>(@"api/dashboard/");
    }

}
