@page "/popupExample"

<h3>PopupExample</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Price</th>
            <th scope="col">Subscribe</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kline in GetKlines())
        {
            <tr>
                <td>@kline.Symbol</td>
                <td>@kline.Price</td>
                <td><button type="button" class="btn btn-primary" @onclick="@(()=> HandleOnSelected(@kline.Symbol))">Subscribe</button></td>
            </tr>
        }
    </tbody>
</table>

<AlertSubscription TurnOn="@HandleOnSelected" Symbol="@ActualSymbol" ToggleModal="@PopUpStyle"></AlertSubscription>

@code {


    private static string TurnOffStyle = "none";
    private static string TurnOnStyle = "block";

    private string ActualSymbol;
    private string PopUpStyle = TurnOffStyle;

    void HandleOnSelected(string symbol)
    {
        ActualSymbol = symbol;
        PopUpStyle = TurnOnStyle;
        StateHasChanged();
    }

    public class DummyKline
    {
        public string Symbol { get; set; }
        public int Price { get; set; }

    }

    public List<DummyKline> GetKlines()
    {
        return new List<DummyKline>()
        {
            new DummyKline(){Symbol = "abcde",Price = 20},
            new DummyKline(){Symbol = "xyz",Price = 30},
            new DummyKline(){Symbol = "sdfg",Price = 40},

        };
    }
}
